@using WebApplication.Models
<div class="box box-success">
    <div class="box-header">
        <i class="fa fa-comments-o"></i>
        <h3 class="box-title">Metas</h3>
        <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
            <button type="button" class="btn btn-success btn-sm" data-widget="collapse" />
            <i class="fa fa-plus"></i>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
                Ações
            </button>
            <ul class="dropdown-menu" role="menu">
                <li data-target="#ModalMETA" data-toggle="modal"><a href="#">Cadastrar metas</a></li>
            </ul>
        </div>
    </div>
    <div class="box-body chat" id="chat-box">
        <table class="table table-striped">

            @{
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Meta</th>
                        <th>Concluido</th>
                        <th>Aguardando contrato</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (METAS metas in ViewBag.metas)
                    {
                        ApplicationDbContext db = new ApplicationDbContext();
                        int contPros = db.CREDENCIAMENTOS.Where(s => s.IDCONTRATO == metas.IDCONTRATO)
                            .Where(s => s.IDESP_EXAM == metas.IDESP_EXAM)
                            .Where(s => s.STATUS == STATUS_CREDENCIAMENTOS.CONCLUIDO_AGUARDANDO_CONTRATO)
                            .Count();
                    <tr>
                    @if (metas.CONCLUIDO >= metas.META)
                    {
                        <td><p style="color:green">@metas.NOME_ESPECIALIDADE</p></td>
                        <td><p style="color:green">@metas.META</p></td>
                        <td><p style="color:green">@metas.CONCLUIDO</p></td>
                    }
                    else if (metas.CONCLUIDO <= metas.META)
                    {
                        <td><p style="color:red">@metas.NOME_ESPECIALIDADE</p></td>
                        <td><p style="color:red">@metas.META</p></td>
                        <td><p style="color:red">@metas.CONCLUIDO</p></td>
                    }
                        <td><p style="color:deepskyblue"data-target="#ModalAguardandoContrato" data-toggle="modal"><a href="javascript:carregarPrestadores('@metas.IDCONTRATO,@metas.IDESP_EXAM');">@contPros</a></p></td>
                    </tr>
                    }
                </tbody>
            }
        </table>
    </div>
    <div class="box-footer">
    </div>
</div>
